.item-news {
    display: flex;
    background: azure;
    padding: 10px;
}

.item-news__img-wrap {
    width: 100px;
    height: 100px;
    background: beige;
}

.item-news__text {
    background: bisque;
    margin-left: 20px;
}
