.profile__title {
    font-size: 40px;
    margin-left: 40px;
}

.profile {
    display: flex;
    margin: 20px;
}

.profile__photo {
    width: 100px;
    height: 100px;
    border: black 1px solid;
    text-align: center;
}

.profile__wrap {
    margin-left: 70px;
}

.profile__first-name {
    margin-bottom: 30px;
}
